@page "/"

<h1>Note Editor!</h1>

<NoteEditor Content="Lorem Ipsum" />

<Editor x:Name="editor"
        Placeholder="Enter your response here"
        HeightRequest="250"
        TextChanged="OnEditorTextChanged"
        Completed="OnEditorCompleted" />